--disable-avs
--disable-swscale
--disable-lavf
--disable-ffms
--disable-gpac
--disable-lsmash
--enable-gprof
--enable-strip
--enable-pic
--disable-asm
--enable-debug
--disable-opencl
--disable-gpl
--disable-thread
--disable-win32thread
--disable-bashcompletion
--disable-cli
--enable-shared
--disable-interlaced
--system-libx264
--bit-depth=all
--chroma-format=all
