--disable-avs
--disable-swscale
--disable-lavf
--disable-ffms
--disable-gpac
--disable-lsmash
--enable-strip
--disable-asm
--enable-debug
--disable-gpl
--disable-thread
--disable-win32thread
--disable-bashcompletion
--disable-cli
--enable-static
--disable-interlaced
--bit-depth=all
--chroma-format=422
